Package: netuyo-kernel
Priority: optional
Section: main
Maintainer: Reinin Oyama
Architecture: all
Version: 0.0.1
Depends: git, qterminal, qterminal-l10n, bash, wget, rsync
Conflicts:
Provides:
Description: Netuyo kernel updater
